# Environment
.env

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/

# Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store

# Test cache
.pytest_cache/

# Frontend / NPM
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build artifacts
frontend/resources/backend/
frontend/release/
